@import "common-admin-style.css";

.directorium table td { padding-bottom: 6px; }
.directorium table td:FIRST-CHILD { padding-right: 10px; width: 20%; }
.directorium table td.final { width: 50%; }
.directorium table td.final h4 { margin-top: 0px; }

.directorium #cleanup-action {
	border: 1px solid #50a096;
	background: #b2feb4;
	margin: 1em 0em;
	padding: 0px 12px;
}

