.directorium {
	display: table;
}

.directorium td input {
	width: 160px;
}

.directorium td.spaceleft {
	padding-left: 2em;
}

.directorium table.horizontally-stackable {
	float: left;
	margin-right: 8px;
}

.directorium p span.highlight {
	background: inherit;
	color: #666;
	display: inline-block;
	font-weight: bold;
	margin: 0px 2px;
	padding: 0;
	text-align: inherit;
}

.directorium .new-section {
	clear: both;
}

#message .amendment-pending  {
	background: transparent url("crystal-amendment-pending.png") no-repeat center left;
	padding-left: 40px;
	margin-left: 10px;
	height: 30px;
}

#message .amendment-viewing {
	background: transparent url("crystal-warning.png") no-repeat center left;
	padding-left: 40px;
	margin-left: 10px;
	height: 30px;
}

table.listing-editorial-table {
	float: left;
	margin-right: 3em;
	margin-bottom: 1.5em;
}

table.listing-editorial-table:last-child {
	float: none;
}

table.listing-editorial-table input {
	width: 6.5em;
}

table.listing-editorial-table th,
table.listing-editorial-table td {
	padding: 1px 8px 2px 1px;
	text-align: left;
	vertical-align: middle;
}

table.listing-editorial-table th {
	color: #888;
	padding-left: 0.5em;
	padding-bottom: 4px;
	padding-top: 0.9em;
}

table.listing-editorial-table td.textright {
	text-align: right;
}

table.listing-editorial-table td pre {
	margin: 0;
}

table.listing-editorial-table td div.usage-meter {
	background: #fff;
	border: 1px solid #aaa;
	float: left;
	margin-right: 0.3em;
	padding: 1px;
	height: 1em;
	width: 100px;
}

table.listing-editorial-table td div.usage-meter div {
	height: 1em;
}

table.listing-editorial-table td div.usage-meter div.within {
	background: #20c040;
}

table.listing-editorial-table td div.usage-meter div.over {
	background: #c02040;
}

table.listing-editorial-table td img.meter-flag {
	height: 1em;
}

table.listing-editorial-table input.checkbox {
	margin: 0em 0.5em;
	width: auto;
}

table.listing-editorial-table .wp-media-buttons .insert-media {
	margin-left: 0.5em;
}

.ownerslist p.notice {
	background: transparent url("crystal-warning.png") no-repeat center left;
	color: #c05010;
	padding-left: 40px;
}

div.scrollablelist {
	max-height: 250px !important;
	border: 1px solid #ddd;
	overflow-y: scroll;
}

table.userlist {
	border-collapse: collapse;
	width: 100%;
}

table.userlist td {
	border-top: 1px solid #e0e0e0;
	padding: 0.4em;
}

table.userlist tr td:first-child {
	width: 2em;
}

table.userlist tr:first-child td {
	border: 0;
}

table.userlist tr.stripe td {
	background: #f2f3ff;
}

table.userlist td.actions {;
	width: 1.5em;
}

table td.actions img,
table.userlist td.actions img {
	height: 1.22em;
	width: 1.22em;
}

table.userlist tr td.actions img {
	visibility: hidden;
}

table.userlist tr:hover td.actions img {
	cursor: pointer;
	visibility: visible;
}

table td.actions button {
	background: none;
	border: none;
}

ul.medialist li {
	clear: both;
	display: table;
	margin-bottom: 1em;
}

ul.medialist li .mediapreview {
	background: #ccc;
	border: 1px solid #bbb;
	float: left;
	height: 112px;
	line-height: 110px;
	margin-right: 0.5em;
	overflow: hidden;
	text-align: center;
	width: 110px;
}

ul.medialist li .mediapreview img {
	vertical-align: middle;
}

ul.medialist li .mediasettings {
	float: left;
}

ul.medialist li .mediasettings input.longfield {
	width: 100%;
}